/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import 'variables';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

html, body { height: 100%; }
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background-primary {
  background-color: $background-dark!important;
}
.background-accent {
  background-color: $accent-color!important;
}
.text-floral-white {
  color: floralwhite!important;
}

.label-values {
  letter-spacing: 0.00625em;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #202124;
  padding-top: 8px;
}

.header-values {
  letter-spacing: 0.025em;
  font-family: Roboto, Arial, sans-serif;
  font-family: .75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #f1f3f5;
  flex-wrap: wrap;
}

.flex-spacer {
flex: 1 1 auto;
}

.mt-5 {
  margin-top: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}
