<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px">

  <div fxFlex="25"></div>
  <div fxFlex="50">
    <p>Self-starter with three plus years of professional exposure in Agile-scrum methodology shipping high quality, highly-visible software on time and a proven track record to quickly learn challenging concepts developing competencies in diverse areas.</p>
    <p>Actively seeking full-time opportunities in the field of software development where I aspire to enhance my technical acumen and add value to the organization.</p>
  </div>
  <div fxFlex="25"></div>

</div>
